.row.title.justify-content-md-center
  %h1= 'Thinkific API'
.row.menu.justify-content-md-center
  #email{style: 'padding-right: 10px'}= current_user.email
  #logout= link_to 'Logout', logout_path, method: :delete
.jumbotron{style: 'margin-top: 20px'}
  .row
    .col.col-md-4
    .col.col-md-8
      %p
        %span API Key:
        %span#token= current_user.token
      %p
        %span Current Integer:
        %span#current-int= @thinkific_integer.content.to_s
      %p
        %button#btn-next.btn.btn-primary= 'Next'
      %p
        .input-group{style: 'width: 360px'}
          .input-group-prepend
            %button#btn-reset.btn.btn-primary{type: 'button'} Reset with
          %input.form-control{'aria-describedby': 'btn-reset', type: 'text'}

:javascript

  var $currentInt = $('#current-int');
  var $newInt = $('#new-int');
  var token = $('#token').html();

  $('#btn-next').on('click', function() {
    var int = parseInt($currentInt.html());
    $currentInt.html(int + 1);
    $.get('api/v1/next',  { token: token }).fail(function() {
      $currentInt.html(int);
    });
  });

  $('#btn-reset').on('click', function() {
    var int = parseInt($currentInt.html());
    var newInt = parseInt($newInt.val());
    $currentInt.html(newInt);
    $.ajax({
      method: 'PUT',
      url: 'api/v1/current',
      data: { current: newInt, token: token }
    }).fail(function(msg) {
      $currentInt.html(int);
      alert(msg);
    });
  });
