<!DOCTYPE html>
<html>
  <head>
    <title>Thinkific</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <div class='alert' role='alert'><%= notice %></div>
      <div class='alert' role='alert'><%= alert %></div>
      <%= yield %>
    </div>
  </body>
</html>
